doctype html
html(lang="fr")
  head
    title=title
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(name='robots' content='index')
    
    link(rel="manifest" href="/manifest.json")
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async)
    script.
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
      appId: "8e6e6913-3fc1-4f84-82ce-60634b21255f",
      safari_web_id: 'web.onesignal.auto.56640081-e0ac-44c5-9d26-db4b2624f604',
      autoRegister: true,
      notifyButton: {
      enable: true /* Set to false to hide */
      }
      }]);
    //social meta
    meta(property="og:title" content='Chanvre Québec')
    meta(property="og:type" content='chanvre.québec')
    meta(property="og:url" content="http://www.chanvrequebec.com/")
    meta(property="og:image" content="http://www.chanvrequebec.com/favicon/favicon.ico")
    
    link(rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    
    link(href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel='stylesheet', href='https://npmcdn.com/flickity@2.0/dist/flickity.css', media='screen')
    link(rel='canonical', href='www.chanvrequebec.com')
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600')
    link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
    script(src="https://use.fontawesome.com/7c1bfbef86.js")
    script(src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="MDc1MjE3MzQtMWI0Ni00NDE2LTgxOWUtYzhlN2ZmYTM0OTdkNjM2MDA4NDk2Njk1MzE1MDU0" id="snipcart")
  body
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-52RBJ7', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-52RBJ7');
    // End Google Tag Manager
    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '1515670032095765',
      xfbml      : true,
      version    : 'v2.5'
      });
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6&appId=1515670032095765";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    != yield
    
    
    include ../public/_includes/_script
