include ../public/_includes/_header
.main-wrapper
    .container
        .h2.left Le super aliment
    .container
        p.p
          | Vous pouvez en être bien sûr, le chanvre mérite bel et bien une telle étiquette. Dans le monde de l’alimentation, on ne peut trouver un autre aliment offrant un apport aussi équilibré et efficace en valeurs nutritives. Équilibré, car la noix de chanvre entière contient des protéines en harmonie avec des acides aminés essentiels, des vitamines en quantité épatante, un incroyable apport en fibre et comme si ce n’était pas assez, des acides gras essentiels en proportion idéale. Efficace, car les éléments nutritifs du chanvre sont presque entièrement utilisés par le métabolisme de notre organisme ce qui en résulte par une utilisation efficiente des nutriments. 

        Les aliments à base de chanvre contiennent une grande variété de bienfaits nutritifs. Idéal pour réinventer votre façon de manger sainement sans sacrifier l’aspect le plus important du repas: le goût!

        Ensuite, pour ceux et celles qui s’interrogent à savoir si les aliments de chanvres peuvent causer les effets psychotropes liés à la marijuana, nous avons la bonne nouvelle de vous annoncer qu’il vous serait impossible d’en ressentir les effets secondaires. Comme il l’est mentionner à plusieurs endroits dans ce site, la présence de THC (substance psychotrope active que l’on retrouve dans la marijuana) est minime dans la culture de chanvre. Nous allons donc devoir nous contenter de la sensation de bonheur que procure une bonne santé mentale et physique !

include ../public/_includes/_article
include ../public/_includes/_footer