include ../public/_includes/_header
.main-wrapper
    .container
        .h2.left Utilisations
    .container
        p.p
          |À partir de la noix de chanvre entière, on produit de la noix de chanvre écalée (cœur de chanvre), de la farine protéinée, de l’huile, du lait, du beurre et bien plus. Ce qui est réellement fantastique, c’est que chacune de ses utilisations à ses propres avantages pour déloger n’importe quel autre aliment de sa catégorie. Il est donc bien possible d’avoir une super alimentation riche et complète à base de végétaux.
    .container
        .h2.left Pourquoi le super aliment ?
    .container
        p.p
          | Vous pouvez en être bien sûr, le chanvre mérite bel et bien une telle étiquette. Dans le monde de l’alimentation, on ne peut trouver un autre aliment offrant un apport aussi équilibré et efficace en valeurs nutritives. <strong>Équilibré</strong>, car la noix de chanvre entière contient des protéines en harmonie avec des acides aminés essentiels, des vitamines en quantité épatante, un incroyable apport en fibre et comme si ce n’était pas assez, des acides gras essentiels dans un ratio idéal. <strong>Efficace</strong>, car les éléments nutritifs du chanvre sont presque entièrement utilisés par le métabolisme de notre organisme ce qui en résulte par une utilisation efficiente des nutriments.
    .container
        .h2.left Effets secondaire ?
    .container
        p.p
         |Pour ceux et celles qui s’interrogent à savoir si les aliments de chanvres peuvent causer les effets psychotropes liés à la marijuana, nous avons la bonne nouvelle de vous annoncer que c’est impossible. Comme il l’est mentionner à plusieurs endroits dans ce site, la présence de THC (substance psychotrope active que l’on retrouve dans la marijuana) est minimale dans la culture de chanvre. Nous allons donc devoir nous contenter de la sensation de bonheur que procure une bonne santé mentale et physique !
    .container
        .h2.left Transformez vos recettes !
    .container
     p.p
        |Les aliments à base de chanvre contiennent une grande variété de bienfaits nutritifs. Idéal pour réinventer votre façon de manger sainement sans sacrifier l’aspect le plus important du repas: le goût!

//include ../public/_includes/_article
include ../public/_includes/_footer