include ../public/_includes/_header
.main-wrapper
    .container
        .h2.left Situation actuelle
    .container
        p.p
          | il faut se rendre à l’évidence, nos maisons actuelles ne conviennent pas à nos besoins fondamentaux. D’abord, elles ne sont pas <strong> adaptées </strong> au climat. On dépense des fortunes en chauffage durant l’hiver en plus d’avoir besoin d’un climatiseur en été. Ensuite, elles ne sont pas <strong> confortables </strong>, car l’humidité relative dans l’air de nos maisons nuit à notre bien-être. Elles ne sont pas saines</strong> pour nous et nos familles.  Il y peut avoir de deux à trois fois plus de polluants toxiques dans l’air ambiant à l’intérieur des maisons qu’à l’extérieur de celles-ci. Cette pollution de l’air est responsable de nombreux troubles respiratoires principalement chez les jeunes enfants. Finalement, nous ne sommes jamais à l’abri des <strong> incendies </strong> et des infestations de <strong> rongeurs </strong>. Pour couronner le tout, nos habitations dégradent l’environnement.
     .container
        .h2.left La meilleure maison qui soit
    .container
        p.p
          | C’est pour toutes ces raisons qu’une maison en chanvre est le rêve ultime en termes d’habitation. C’est une habitation de plus en plus populaire chez les Québécois, où le climat nous implore d’avoir une demeure qui correspond mieux à nos besoins. Il est grand temps de faire découvrir les vertus d’une maison isolée en chanvre à notre population. La maison saine la plus <strong> confortable, écoénergétique, sécuritaire et durable  qui soit</strong>. Consulter notre article pour en savoir davantage sur les particularités des maisons en chanvre.
