include ../public/_includes/_header
.main-wrapper.green
    .container
        p Notre équipe est composé de jeunes et moins jeunes, passionné par une chose; d'éveiller notre société à quelque chose de beau, de bon!
.grid
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/t31.0-8/13576716_10208642942363918_438452764377315154_o.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Jérémie Aubut
                      p
                        | Salut, pour moi chanvre quebec est la place que nous nous sommes créer pour se permettre d'accomplir le beau, le bon.
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13620741_499526950245528_783351227788477691_n.jpg?oh=1d9faf3fd62daa19b64966ca3155b7ef&oe=5850CDB4', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Darko Popovic
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13332737_836428676491803_5654167829508632107_n.jpg?oh=87aa24787e13e00c95db27739e151bb6&oe=58535FAB', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Mario Moreau
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/12729169_10207132594847840_728702541167224133_n.jpg?oh=6e7dc4ebec69e72dc99e949d8ea7c0a3&oe=584DD5DE', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Jonathan Gagné
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13062041_800876936712251_653922487596595_n.jpg?oh=266c8c319ae3661c36c3c60f77e6e244&oe=584B2B9F', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Gabriel Gauthier
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Ton nom
                      p
                        | Si toi aussi tu as un feu qui brûle que tu dois laissé sortir!
                      button.fill-blue Postule!

include ../public/_includes/_footer