.main-wrapper
    .container
        h2 Notre Équipe 
    .promo-crossroad
        dt.equipe
            img.e(src='assets/img/constructionicon.png')
            h2 Jérémie Aubut
        dt.equipe
            img.e(src='assets/img/constructionicon.png')
            h2 Jérémie Aubut
    button.btn-blue Postulez