include ../public/_includes/_header
.try-box
    .try
        .try-1(style="background-image: url(https://scontent.xx.fbcdn.net/t31.0-8/13576716_10208642942363918_438452764377315154_o.jpg);")
            h1 Jeremie Aubut
            p c-level clearence 
        .try-1(style="background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-9/13620741_499526950245528_783351227788477691_n.jpg?oh=607ebdc735978f0dd27d04da4a4e0d9d&oe=582940B4)")
            h1 Darko Popovic 
            p c-level clearence
        .try-1(style="background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-9/12729169_10207132594847840_728702541167224133_n.jpg?oh=4e84692f9711ee2f17470e2c38c37b3d&oe=582648DE)")
            h1 Jonathan Gagne
            p comm
        .try-1(style="background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-9/13332737_836428676491803_5654167829508632107_n.jpg?oh=2cf0f9743df6aeb4038496e04e363b42&oe=582BD2AB)")
            .overlay-text
                  h1 Alexandre Arce Moreau
                  p comm
        .try-1(style="background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-9/12729169_10207132594847840_728702541167224133_n.jpg?oh=4e84692f9711ee2f17470e2c38c37b3d&oe=582648DE)")
            h1 Jonathan Gagne
            p comm
        .try-1(style="background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-9/13332737_836428676491803_5654167829508632107_n.jpg?oh=2cf0f9743df6aeb4038496e04e363b42&oe=582BD2AB)")
            .overlay-text
                  h1 Alexandre Arce Moreau
                  p comm
    .try-2
        .container
            h2 Les bâtiseurs
.main-wrapper
    .container
        button.btn-blue Postulez
        
include ../public/_includes/_footer