include ../public/_includes/_header
.main-wrapper.green
    .container
        p  Une équipe propulsée par le désir de partager les vertus du chanvre afin d'offir aux Québécois des alternatives écologiques, saines et durables qui sont mieux adaptées à leurs besoins réels.
.grid
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/t31.0-8/13576716_10208642942363918_438452764377315154_o.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Jérémie Aubut
                      p
                        | Salut, pour moi chanvre quebec est la place que nous nous sommes créer pour se permettre d'accomplir le beau, le bon.
              .cont_photo
                .cont_img_back
                  img(src='assets/img/darki.png', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Darko Popovic
                      p
                        | J'ai pour mission d’avoir un impact positif sur mon  environnement.  Venir en aide à la Terre et contribuer aux bien être des gens, c’est ce qui donne un sens à ma vie.  Je suis d’avis que le chanvre c’est l’avenir.
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13062041_800876936712251_653922487596595_n.jpg?oh=266c8c319ae3661c36c3c60f77e6e244&oe=584B2B9F', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Gabriel Gauthier
                      p
                        | Propriétaire de Art-Can construction et pionnier du chanvre au Québec.
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13332737_836428676491803_5654167829508632107_n.jpg?oh=87aa24787e13e00c95db27739e151bb6&oe=58535FAB', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Mario Moreau
                      p
                        | Je me considère comme un philanthrope qui a pour mission de venir en aide aux gens et à la planète. 
              .cont_photo
                .cont_img_back
                  img(src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/12729169_10207132594847840_728702541167224133_n.jpg?oh=6e7dc4ebec69e72dc99e949d8ea7c0a3&oe=584DD5DE', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Jonathan Gagné
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons mail_outline
                .info-recette
                    .cont_detalles
                      h3 Ton nom
                      p
                        | Si toi aussi tu as un feu qui brûle que tu dois laissé sortir!
                      button.fill-blue Postule!

include ../public/_includes/_footer