include ../public/includes/_header
#photo
    .photo-container
            .photo(style='background-image: url(https://storage.googleapis.com/chanvrequebecphoto/caro_lafeuille.jpeg)')
            .photo(style='background-image: url(https://storage.googleapis.com/chanvrequebecphoto/team.jpeg)')
            .photo(style='background-image: url(https://storage.googleapis.com/chanvrequebecphoto/caro_lafeuille.jpeg)')
include ../public/includes/_mission
include ../public/includes/_chanvre
include ../public/includes/_artistesliste
#soinscorpo.center(style="background-color: #F9F9F9")
    .container
        .row
            .col-12.center
                h2 Nos produits de chanvre pour vous :)
                p Des artisans consacrés et pationnés!
                a(href="boutique")
                    button.btn-secondary Découvrez nos produits
#produits
    .container
            .row
                .center
                    //- var lafeuille = public.lafeuille._data[public.lafeuille._contents[0].toString().replace('.html', '')]  
                          include ../public/lafeuille/_lafeuille
                    //- var numero = public.seqoia._data[public.seqoia._contents[0].toString().replace('.html','')] 
                          include ../public/seqoia/_seqoia
                    //- var keys = Object.keys(public.seqoia._data);
                    //- for(var i = 0; i < Math.min(1,keys.length); i++) {
                    //li: a(href="/seqoia/#{ keys[i] }.html")= public.seqoia._data[keys[i]].headline
                    //- }
                    //include ../public/seqoia/_seqoia
                    //for numero, slug in public.seqoia._data
                        include ../public/seqoia/_seqoia
include ../public/includes/_footer