include ../public/_includes/_header
.main-wrapper
    .container
        .h2.left Son utilisation à travers le temps
    .container
        p.p
          | La fibre de chanvre est incroyablement résistante et durable. C’est pour cette raison que l’on utilisait le chanvre pour faire des cordes dans la bateaux de guerre à l’époque de la guerre d’Indépendance des États-Unis. À la suite de cette guerre, l’importance du chanvre a littéralement exploser. On le cultivait pratiquement partout en rotation avec la culture de maïs. Le développement des machineries permettait désormais d’extraire la fibre du noyau de la plante plus facilement que jamais, menant à un regain dans l’industrie du textile. On l’utilisait même dans le domaine de la haute couture, notamment par les designer de renom Calvin Klein et Levis. C’est finalement le “Controlled substance act”, propulsé par des magnas de l’industrie du cotons, entre autres, qui freine l’engouement pour le chanvre en raison de la prohibition. Plus de 60 ans ont passé et l’industrie du textile de chanvre renaît désormais de ses cendres pour remplacer les tissus inconfortables et polluants qui ont envahis notre consommation aux cours des ans. 
     .container
        .h2.left Le textile de chanvre
    .container
        p.p
          | Aujourd’hui, les fabricants de textiles convoitent de plus en plus le chanvre pour la confections de vêtements. Il est confortable, antibactérien, antiallergique et offre une protection quasi totale contre les rayons UV. Les fibres de chanvre sont poreuse formant un tissu qui respire. Les textiles de chanvre s’ajustent bien aux variations de température pour accommoder le bien être de l’usager. Avec l’âge, la fibre continue de s’adoucir tout en résistant à la moisissure . Le chanvre est donc excellent pour faire toute sorte de vêtement, tapis, literies, chaussures, serviettes ou autres.