picture.article-img
  //source(media='(min-width: 1001px)', srcset='assets/img/drive-growth.svg')
  //source(media='(min-width: 600px)', srcset='//think.storage.googleapis.com/images/drive-growth-mobile-first-world-tablet.svg')
  img.infographic-img(alt='None', srcset='assets/img/drive-growth.svg')
