footer
        .footer-container
          // START SVG
          .footer-bridge
            img(src='assets/img/footerlogo.svg' width='50')
          .footer-ul
            .line
            ul
              li
                a(href='/', title='Zach Cole', target='_blank')
                  h3.footer-link
                    | Design par J.A
                    span.arrow-right
                      // -START SVG-
                      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='23.446px', height='12.925px', viewbox='0 0 23.446 12.925', enable-background='new 0 0 23.446 12.925', xml:space='preserve')
                        line(fill='none', stroke='#FFFFFF', stroke-width='1.3161', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='16.243', y1='11.475', x2='21.255', y2='6.462')
                        polyline(fill='none', stroke='#FFFFFF', stroke-width='1.3161', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='\
                        16.243,1.45 21.255,6.462 2,6.462 ')
                      // -END SVG-
              li
                a(href='#', title='Github', target='_blank')
                  h3.footer-link
                    | Fork on Github si tu veux contribuer
                    span.arrow-right
                      // -START SVG-
                      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='23.446px', height='12.925px', viewbox='0 0 23.446 12.925', enable-background='new 0 0 23.446 12.925', xml:space='preserve')
                        line(fill='none', stroke='#FFFFFF', stroke-width='1.3161', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='16.243', y1='11.475', x2='21.255', y2='6.462')
                        polyline(fill='none', stroke='#FFFFFF', stroke-width='1.3161', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='\
                        16.243,1.45 21.255,6.462 2,6.462 ')
                      // -END SVG-
        
              li
                a(href='#', title='Facebook', target='_blank')
                  h3.footer-link
                    | Partage sur Facebook
                    span.arrow-right
                      // -START SVG-
                      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='23.446px', height='12.925px', viewbox='0 0 23.446 12.925', enable-background='new 0 0 23.446 12.925', xml:space='preserve')
                        line(fill='none', stroke='#FFFFFF', stroke-width='1.3161', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', x1='16.243', y1='11.475', x2='21.255', y2='6.462')
                        polyline(fill='none', stroke='#FFFFFF', stroke-width='1.3161', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', points='\
                        16.243,1.45 21.255,6.462 2,6.462 ')
                      // -END SVG-
            li
                .snipcart-summary
                    h3.footer-link
                      a.snipcart-user-email.snipcart-user-profile(href='#', title='snipcart', target='_blank')
                        | Espace client