.outer-menu
  input.checkbox-toggle(type='checkbox')
  .hamburger
    div
  .menu
    div
      div
        ul
          li
            a(href='index') Accueil
          li
            a(href='equipe') Notre équipe
        ul
          li
            a(href='construction') Habitation
          li
            a(href='alimentation') Alimentation
          li
            a(href='vêtement') Textile
        ul
          li
            a(href='https://blog.chanvrequebec.com') Blog
          li
            a(href='recette') Recettes 
          li
            a(href='http://faq.chanvrequebec.com') Faq       
.main-wrapper
        i.fa.fa-shopping-basket.snipcart-checkout(href="#", aria-hidden='true')
            .snipcart-summary(style='display: none')
                span.snipcart-total-price 0
                   
                
        .header-section
          // START SVG
          .bridge-svg
              a(href='index')
               img(src='assets/img/navlogo.svg', alt='chanvre quebec')
          .title
            h1=(headline)   
            h2=(underline)
          a(href='#first')
            p Découvrez le
            // START SVG
            .arrow
              svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='21px', height='11.122px', viewbox='-0.121 -0.121 21 11.122', enable-background='new -0.121 -0.121 21 11.122', xml:space='preserve')
                line(fill='none', stroke='#B1E95C', stroke-width='1.5', stroke-linecap='round', stroke-miterlimit='10', x1='0.629', y1='0.629', x2='10.251', y2='10.251')
                line(fill='none', stroke='#B1E95C', stroke-width='1.5', stroke-linecap='round', stroke-miterlimit='10', x1='20.129', y1='0.629', x2='10.507', y2='10.251')