.main-wrapper
    .popular-destinations
          .container2
            .h2.right Les articles bonbons
          .cards-strip
            .cards-strip_in
                include ../blogpost/_mediumblog

        
                