.main-wrapper
  .container
    .right
      .h2 Nos membres
  .pricing.pricing--rabten
    .pricing__item
      .icon.icon--home
      h3.pricing__title Art Can
      p.pricing__sentence Gabriel Gauthier
      .pricing__price
        img.promo-crossroad__img(src='assets/img/constructionicon.png')
      ul.pricing__feature-list
        li.pricing__feature Construction en chanvre
        li.pricing__feature un pionier du chanvre au quebec
      button.pricing__action Son Histoire
    .pricing__item
      .icon.icon--store
      h3.pricing__title The Beard & Wood Club
      p.pricing__sentence Simon Tremblay
      .pricing__price
        img.promo-crossroad__img(src='assets/img/constructionicon.png')
      ul.pricing__feature-list
        li.pricing__feature Soins corporels
        li.pricing__feature L'huile de chanvre au service de la peau
      button.pricing__action Son histoire
    .pricing__item
      .icon.icon--store
      h3.pricing__title Chanvre Superaliment
      p.pricing__sentence Darko Popovic & Jérémie Aubut
      .pricing__price
        img.promo-crossroad__img(src='assets/img/constructionicon.png')
      ul.pricing__feature-list
        li.pricing__feature Délicieusement nutritifs
        li.pricing__feature À partir de 15.99$
      button.btn-blue Deviens Membre 
//formulaire google pour les demandes. 