.main-wrapper
    .popular-destinations
          h2.article Nos produits vedettes
          .cards-strip
            .cards-strip_in
             a.produit-card(href='')
                img.produit-card-img(src='assets/img/jér.jpg')
             a.produit-card(href='')
                img.produit-card-img(src='assets/img/etiquette2.0copy.jpeg')
             a.produit-card(href='')
                img.produit-card-img(src='assets/img/bonmur.png')
                .description description
                .price 15.99$


            


