.main-wrapper
    .popular-destinations
          .container2
            .h2.right Nos produits vedettes
          .cards-strip
            .cards-strip_in
             .cont_produit
                .produit_img_back
                  img(src='assets/img/jér.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price 30$
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | Salut, pour moi chanvre quebec est la place que nous nous sommes créer pour se permettre d'accomplir le beau, le bon.
             .cont_produit
                .produit_img_back
                  img(src='assets/img/bonmur.png', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price Soumission $
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | Salut, pour moi chanvre quebec est la place que nous nous sommes créer pour se permettre d'accomplir le beau, le bon.
             .cont_produit
                .produit_img_back
                  img(src='assets/img/etiquette2.0copy.jpeg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price 20$
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | Salut, pour moi chanvre quebec est la place que nous nous sommes créer pour se permettre d'accomplir le beau, le bon.
    .container2
        p.p Vous pouvez magasiner en toute sécurité sur notre site, les transactions sont entièrement gérées et sécurisées par une compagnie situé de Québec: Snipcart! 

            


