.main-wrapper
    .popular-destinations
          .container2
            .h2.right Nos produits vedettes
          .cards-strip
            .cards-strip_in
             .cont_produit
                .produit_img_back
                  img(src='assets/img/jér.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price Bientôt offert
                .info-recette
                    .cont_detalles
                      button.fill-green.snipcart-add-item(data-item-id='1', data-item-name='Vêtement Seqoia', data-item-price='30.00', data-item-weight='1', data-item-url='/', data-item-description='Chanvre et cotton organique, une combinaison parfaite en style et en confort!')
                        | Ajouter
                      p
                        | Pour un vêtement qui respire. Écologique, durable, confortable et résistant.
             .cont_produit
                .produit_img_back
                  img(src='assets/img/bonmur.png', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price Bientôt offert 
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | La maison la plus confortable, écoénergetique, sécuritaire et durable qui soit. 
             .cont_produit
                .produit_img_back
                  img(src='assets/img/farinesite.png', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price Bientôt offert
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | Le mélange à recettes hyper protéiné: pour transformer tous vos plats.
             .cont_produit
                .produit_img_back
                  img(src='assets/img/grainesite.png', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price Bientôt offert
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | La noix de chanvre écalée: un vrai délice nutritif !
    .container2
        p.p Vous pouvez magasiner en toute sécurité sur notre site, les transactions sont entièrement gérées et sécurisées par une compagnie situé de Québec: Snipcart! 

            


