.main-wrapper
    .popular-destinations
          .container2
            .h2.right Nos produits vedettes
          .cards-strip
            .cards-strip_in
             .cont_produit
                .produit_img_back
                  img(src='assets/img/jér.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price 30$
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | Pour un vêtement qui respire. Écologique, durable, confortable et qui repousse les bactéries.
             .cont_produit
                .produit_img_back
                  img(src='assets/img/bonmur.png', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price Soumission $
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | La maison la plus confortable, écoénergetique, sécuritaire et durable qui soit. 
             .cont_produit
                .produit_img_back
                  img(src='assets/img/etiquette2.0copy.jpeg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.price 20$
                .info-recette
                    .cont_detalles
                      button.fill-green ajouter
                      p
                        | Le mélange à recettes hyper protéiné. Pour transformer vos plats.
    .container2
        p.p Vous pouvez magasiner en toute sécurité sur notre site, les transactions sont entièrement gérées et sécurisées par une compagnie situé de Québec: Snipcart! 

            


