#masonry
    .wrap-ma
      .item
          .item_title
            h2.item_title-text Welcome
          .item_supporting-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Mauris sagittis pellentesque lacus eleifend lacinia...
          .item_actions.item-border
            a(href="#modal1")
                button.fill-green Get Started
        .item
          .item_title
            h2.item_title-text Welcome
          .item_supporting-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Mauris sagittis pellentesque lacus eleifend lacinia...
          .item_actions.item-border
            button.fill-green Get Started
        .item
          .item_title
            h2.item_title-text Welcome
          .item_supporting-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Mauris sagittis pellentesque lacus eleifend lacinia...
          .item_actions.item-border
            button.fill-green Get Started
        .item
          .item_title
            h2.item_title-text Welcome
          .item_supporting-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Mauris sagittis pellentesque lacus eleifend lacinia...
          .item_actions.item-border
            button.fill-green Get Started
        .item
          .item_title
            h2.item_title-text Welcome
          .item_supporting-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Mauris sagittis pellentesque lacus eleifend lacinia...
          .item_actions.item-border
            button.fill-green Get Started