.grid
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                      h3 Shakshuka With Feta
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                      h3 Shakshuka With Feta
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                      h3 Shakshuka With Feta
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                      h3 Shakshuka With Feta
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                      h3 Shakshuka With Feta
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                      h3 Shakshuka With Feta
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                      h3 Shakshuka With Feta
                      p
                        | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              .cont_photo
                .cont_img_back
                  img(src='https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg', alt='')
                .cont_icon_right
                      a(href='#')
                        i.material-icons 
                .info-recette
                    .sub_mins
                      h3 50
                      span MINS
                    .sub_mins
                      h3 4
                      span SERVINGS
                    .cont_detalles
                        a(href='https://blog.chanvrequebec.com')
                          h3 Shakshuka With Feta
                          p
                            | orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis est est aliquam, sed faucibus massa lobortis. Maecenas non est justo.
              