.main-wrapper
    .popular-destinations
          h2.article Articles
          .cards-strip
            .cards-strip_in
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.destination-card.london(href='')
                span.card-place-category United Kingdom
                .card-description
                  h3 test
                  p test
              a.last(href='#')

