.main-wrapper
    .popular-destinations
          h2.article Articles
          p Ces articles vous donnerons un contenu riche pour vous instruire sur l'industrie du type C. 
          .cards-strip
            .cards-strip_in
              