.main-wrapper
    .popular-destinations
          h2.article Articles
          p Ces articles vous donnerons un contenu riche pour vous instruire sur l'industrie du type C. 
          .cards-strip
            .cards-strip_in
              .destination-card.fb-post(data-href='https://www.facebook.com/chanvrequebec/posts/1638120813174038')
              .destination-card.fb-post(data-href='https://www.facebook.com/chanvrequebec/posts/1641570619495724')