.carousel
  height 150%
.carousel-cell
  vertical-align baseline
  width 100%
  margin 0 10px
  background transparent
  p
      color white
      font-size 2rem
      
  strong
      color #5CA86F
  &:before
    display block
    text-align center

