.main-wrapper
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-position: 50% 50%;
  background-size: cover;
  text-align center
  
.grey
    background-color #EFEFEF
    background-image none
    
.green
    background-color #80D092
.blue
    background-color #066682
.light-blue
    background-color #00AAFF
    color white
.red
    background-color lightcoral
    color white
    
.side-blocks 
    width 50%
    height 100vh
    display inline-block
    vertical-align top
    background-color antiquewhite
    position fixed
@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait)
    .side-blocks
        width: 100%;
        height: 25vh;
        position relative
.flex-wrapper 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;

.main-content 
    background-color blue
    overflow: scroll;
    padding 25px
@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait)
    .main-content
        overflow visible
        float none

.row 
    display block
    width 50%
    background-color dodgerblue

.try-box
    width: 100%;
    background-color #aaa
    z-index: 1;
    position fixed
.try
    width 50%
    height 100vh
    display inline-block
    vertical-align top
    background-color antiquewhite
@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait)
    .try
        width: 100%;
        height: 100vw;
    
.try-1
    height: 25vw;
    width: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align center
    vertical-align middle
    p
        color transparent
    h1
        font-size 20px
        color transparent     
    &:hover
        h1 
            color black
        p
            color white
        filter brightness(70%)
        -webkit-transition:all 0.45s ease-in-out;
        -moz-transition:all 0.45s ease-in-out;
        -o-transition:all 0.45s ease-in-out;
        -ms-transition:all 0.45s ease-in-out;
        transition:all 0.45s ease-in-out;
        

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait)
    .try-1 
        width: 50%;
        height: 50vw;

.try-2
    width: 50%;
    height 100vh
    float right
    vertical-align: top;
    text-align justify
    h3
        color black
    p 
        color black
@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait)
    .try-2 
        width: 100%;
        height: 100%;


.center
    text-align center
    padding 50% 25%