@media all and (max-width:1200px)
  .promo-crossroad
    padding 0 5%
    
@media only screen and (max-width: 780px)
  h1
    font-size 4.8rem
    
  .answer
    h1
      font-size 3.95rem
    button
      &:first-of-type
        margin-bottom 20px
  h2
    font-size 1.5rem
  .header
    width 85%
  .footer-container
    width 85%
  .paragraph
    width 100%
    & > p
      width 80%
      margin 12px auto
  .select-options
    width 100%
    padding 0
    li
      padding 1px
      text-align center
      
  .promo-crossroad
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap
    padding 0 1%

@media only screen and (max-device-width: 480px)
    
  .header
    width 85%
  .paragraph
    width 100%
    padding 500px 0 1150px 0
    & > p
      width 80%
      margin 12px auto
      font-size 4rem
  .select-container
    height 80px
  span
    &.select-container
      margin-bottom -10px
  .select-options
    width 100%
    padding 0
    margin-top 35px
    li
      text-align center
      margin -3px 0
  .arrow-left
    top -3px
    position relative
  .footer-container
    width 85%
  .footer-ul
    margin-bottom 40px
  footer
    li
      height 60px
  .arrow-right
    display none
    
  .promo-crossroad
    display block
    
  .promo-crossroad__item
    margin-top 50px
    
  .promo-crossroad__title-link
    display inline-block
