a
  &.produit-card
    display block
    background-color #EFEFEF
    float left
    border-radius 4px
    position relative
    margin-right 10px
    width calc(6vw + 9vh - 2px)
    min-width 170px
    height calc(20vh + 7vw)
    min-height 280px
    color #fff
    -webkit-transition opacity 0.4s ease-out
    -moz-transition opacity 0.4s ease-out
    -o-transition opacity 0.4s ease-out
    transition opacity 0.4s ease-out
    &:hover
      opacity 0.85
  &.last
    display block
    background-color #fff
    width 58px
    min-width 58px
    float left
    height calc(26vh + 10vw)
    min-height 560px
    
.produit-card-img
    padding-top 10px
    height 150px   
    
.description
    font-family sans-serif
    font-size 1rem
    text-align left
    color black
    padding-left 10px
.price
    font-family sans-serif
    font-size 1.5rem
    text-align center
    color #FF0000
    padding-top 10px
    