div
  &.popular-destinations
    width 100%
    position relative
    bottom 46px
    padding-top 50px
    &::-webkit-scrollbar
      display none
  &.cards-strip
    width 100%
    overflow scroll
    -webkit-overflow-scrolling touch
    padding-bottom 12px
    &::-webkit-scrollbar
      display none
  &.cards-strip_in
    margin-left 58px
    width 4000px

.destination-card
    display block
    background-color #18171f
    float left
    border-radius 4px
    position relative
    margin-right 10px
    width auto
    height auto
    color #fff
    -webkit-transition opacity 0.4s ease-out
    -moz-transition opacity 0.4s ease-out
    -o-transition opacity 0.4s ease-out
    transition opacity 0.4s ease-out
    

.card-place-category
  position absolute
  left 50px
  top 50px
  text-transform uppercase
  letter-spacing 3px
  font-size 90%
  z-index 3

.card-description
  position absolute
  left 50px
  bottom 44px
  z-index 3
  
.london
    background-image url('../img/5cf8b62b.jpeg')
    background-position center
.article
    padding-top 50px
    padding-bottom 50px