#description
     .container
            .row
                .col-12
                    a(href=(artistes))
                        h2=(titre)
                        p=(texte)
                                    